/* 
 *
 * Helvetica Theme for Embr
 * Author: Laurence Dawson
 * Date: May 2011
 * Version 1.0
 *
 */

html {
  overflow-y: scroll
}


body {
  height: 100%;
  font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  background-color: #3b627e;
  margin: 0;
  padding: 0
}


/*
 * 
 * Basic Typographic and image elements 
 *
 */

a {
  color: #999;
  text-decoration:none
}

a:hover {
  color: #3b627e
}


h3, h2, h1 {
  font-weight: 400
}


h1, h1 a, h1 a:hover{
  color: #fff;
  padding-top: 10px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 0 3px 3px rgba(0,0,0,0.5)
}

h3, h2, h3 a, h2 a {
  border-bottom: 0px #eee solid;
  margin-bottom: 5px;
  color: #555
}


h3 {
  margin-top: 10px;
  margin-bottom: 20px
}


p {
  color: #777
}

p a {
  border-bottom: 1px #999 dashed
}


img {
  text-decoration: none;
  border: 0
}

li, ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
  position:relative
}

textarea, input {
  outline:none
}

label {
  font-weight: bold
}


/*
 * 
 * Main page elements
 *
 */

/* Main container  */
#container {
  margin: auto;
  margin-top: 20px;
  width: 576px
}


/* Page header */
.header {
}

.header h2 {
  display:none;
}


/* The top navigation links */
.navigation {
  text-shadow: 0 2px 2px rgba(0,0,0,0.5);
  font-weight: bold;
  margin-top:-45px;
  font-size:12px;
  color:#fff
}

.navigation a {
  color:#fff;
  margin-left: 10px
}


/* Blog Post */
.post {
  clear:both;
  margin:auto;
  margin-bottom: 30px;
  border: solid 1px #CCC;
  background-color: white;  
  padding: 20px
}

.post h2 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;	
  margin:0;
  padding:0;
  font-weight: bold;
  font-size: 16px;
}


.post_inner{
  margin-bottom: 40px;
  position: relative
}


/* Image post */
.image_box{
  box-shadow: 0px 0px 1px #999;
  width:100%;
}


/* The source box under a post */
.source {
  text-align: right;
  background-color: white;
  border-radius: 5px;
  padding: 0;
  padding-top: 5px;
  font-size:10px
}


/* Post index page hover & keyboard navigation highlight */
.index:hover, .selected {
  box-shadow: 0px 5px 5px rgba(0,0,0,0.3)
}


/* Blog post information */
.info {
  font-size:11px;
  color:#666;
  background-color: #eee;
  padding:2px;
  position: absolute;
  bottom:-40px;
  width: 540px;
  margin:0;
  border-radius: 5px;
  margin-left:-10px;
  margin-right: -10px;
  padding-left: 10px;
}

.info a{
  border: 0
}


/* Post Tags */
.tags {
  font-size:11px;
  color:#666;
  background-color: #eee;
  padding:2px;
  width: 540px;
  border-radius: 5px;
  margin-left:-10px;
  margin-right: -10px;
  padding-right: 10px;
  margin-top:50px;
}


/* Post Footer */
.footer {
  clear: both;
  padding-top:10px;
  margin-bottom: 10px;
  margin-top:20px
}

.footer p{
  text-shadow: 0 2px 2px rgba(0,0,0,0.5);
  color:#fff
}


/* Pagination loading element */
.loading {
  text-shadow: 0 2px 2px rgba(0,0,0,0.5);
  color:#fff;	
  text-align:center 
}


/*
 * 
 * CMS Elements
 *
 */

/* Text input boxes in the login panel */
.login_box {
  padding: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  margin-right:10px;	
  border: solid 1px #CCC;
  background-color: white;  
  border-radius: 5px;
  width: 178px
}


/* Submit button in the login panel*/
.submit {
  border-radius: 5px;
  width: 138px;
  padding: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ded;
  border: solid 1px #CCC;
  font-weight: bold;
  color: #555
}

.submit:hover{  
  background-color: #008C00;
  border: solid 1px #008C00;  
  color: #fff
}


/* Cancel button in forms */
.cancel {
  border-radius: 5px;
  width: 138px;
  padding: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #edd;
  border: solid 1px #CCC;
  font-weight: bold;
  color: #555
}

.cancel:hover {
  border-radius: 5px;
  width: 138px;
  padding: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #cc0000;
  border: solid 1px #cc0000;
  font-weight: bold;
  color: #fff
}


/* Activity button incase the user has disabled JS */
.activity li {
  text-align: center;
  border-radius: 5px;
  font-size: 10px;
  display: block;
  float: left;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  background-color: rgba(0,0,0,0.5);
  color:#fff;
  width: 168px
}

.activity li a:hover, .activity li a {
  margin:0px;
  padding:2px;
  color:#fff;
  display: block
}


/* Contains post tags, category and source*/
.extra_options_pane{
	display:none;
}


/* Textarea for a text posts content */
.content_box{
  padding: 10px;
  width: 512px;
  border: 0;
  margin-right:10px;	
  border: solid 1px #CCC;
  background-color: white;  
  border-radius: 5px;
  font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  margin-bottom:0;
  padding-bottom:0
}


/* Default style for an element on the editor */
.editor_element{
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 512px;
  border: 0;
  font: 22px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  border: solid 1px #CCC;
  background-color: white;  
  border-radius: 5px;
  margin-top:10px
}


/* Styles for the image, tags, source and category inputs */
.editor_image_input, .editor_source_input, .editor_tags_input, .editor_category_input {
  font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif
}

.editor_tags_input, .editor_category_input{
  width: 235px
}

/* The image shown in the embr branding */
.embr_link a{
  background-image: url("../../img/embr_light.png");
  width: 53px;
  height: 46px;
  display: block;
}



/*
 *
 * Tumblr style CSS3 Icons 
 * PURE CSS GUI ICONS
 * by Nicolas Gallagher - http://nicolasgallagher.com/pure-css-gui-icons/
 *
 */

.delete a,.edit a, .tools a, .add-alt a,.profile a {
  padding-left:18px;
}

li:before, 
li:after,
li a:before, 
li a:after {
    content:"";
    position:absolute;
    top:50%;
}

li a:before, 
li a:after {
    margin:-8px 0 0;
    background:#fff;
}

.profile a:before {
  margin-left:2px;
  background: #fff;
  left:4px;
  width:16px;
  height:5px;
  margin-top:1px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-top-left-radius:5px;
  -moz-border-radius:5px 5px 0 0;
  border-radius:5px 5px 0 0
}

.profile a:after {
  margin-left:2px;
  left:9px;
  width:6px;
  height:10px;
  margin-top:-7px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-bottom-right-radius:5px 10px;
  -webkit-border-bottom-left-radius:5px 10px;
  -moz-border-radius:5px 5px 5px 5px / 5px 5px 10px 10px;
  border-radius:5px 5px 5px 5px / 5px 5px 10px 10px
}

.profile a:hover:after,
.profile a:focus:after,
.profile a:active:after {
    background:#fff
}

.add-alt a:before {
  margin-left:5px;
  left:6px; 
  width:5px; 
  height:15px; 
  margin-top:-7px;
  background:#fff;
}

.add-alt a:after {
  margin-left:5px;
  left:1px; 
  width:15px; 
  height:5px; 
  margin-top:-2px; 
  background:#fff
}

.tools:after {
  margin-left:5px;	
  left:13px;
  width:3px;
  height:5px;
  margin-top:-8px;
  background: #222;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg)
}

.tools a:before {
  margin-left:5px;	
  left:6px; 
  width:4px; 
  height:15px; 
  margin-top:-7px;
  background:#fff;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg)
}

.tools a:after {
  margin-left:5px;	
  left:8px;
  width:9px;
  height:9px;
  background:#fff;
  -webkit-border-radius:8px;
  -moz-border-radius:8px; 
  border-radius:8px
}

.edit a:before {
  left:3px;
  width:5px;
  height:5px;
  margin-top:2px;
  background:#fff;
  -webkit-transform:skew(-10deg, -10deg);
  -moz-transform:skew(-10deg, -10deg);
  -o-transform:skew(-10deg, -10deg);
  transform:skew(-10deg, -10deg)
}

.edit a:after {
  left:3px;
  width:13px;
  height:6px;
  border-left:1px solid #222;
  margin-top:-3px;
  -webkit-transform:rotate(-45deg); 
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg)
}

.delete a:before {
  left:6px; 
  width:5px; 
  height:15px; 
  margin-top:-7px;
  background:#fff;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg)
}

.delete a:after {
  left:1px; 
  width:15px; 
  height:5px; 
  margin-top:-2px; 
  background:#fff;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg)
}