body{
  font:13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#666;
  background-color:#eee;
}

h3, h2, h1{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:400
}

h1{
  color: #000;
  padding-top:10px;
  margin-bottom:10px;
  font-weight: bold;
}

h1 a{
  color:#000;
  text-shadow:0 -1px 0 rgba(0,0,0,0.15),0 1px 0 rgba(255,255,255,0.8);
  text-decoration:none
}

h1 a:hover{
  color: #CC0000;
}



h3,h2{
  border-bottom: 0px #eee solid; 
  margin-bottom:5px; 
  text-shadow:0 -1px 0 rgba(0,0,0,0.15),0 1px 0 rgba(255,255,255,0.8);
  color: #555;  
}

h3 a,h2 a{  
  color: #555;
  text-shadow:0 -1px 0 rgba(0,0,0,0.15),0 1px 0 rgba(255,255,255,0.8);
  text-decoration:none
}

h3{
  margin-top:10px;
}

h2 a:hover{
  color: #CC0000;
}


#container{
  margin:auto;
  margin-top:20px;
  width: 576px;
}

.navigation{
  margin-bottom:10px;
}

p a{
  color:#666;
  text-decoration:none;
  border-bottom: 1px #999 dashed;
}

p a:hover{
  color: #CC0000;
}


a{
  color:#999;
  text-decoration:none;
}

a:hover{
  color: #CC0000;
}

.blogNav,.blogP,.tags{
  font-size:12px;
}


.tags,.blogP{
  color:#999
}

.blogP{
margin-top:0px;
  font-size:12px;margin-bottom:10px;border-bottom:1px solid #e0e0e0;
  
  }
  
.blogP a{
  border-bottom: 0px #999 dashed;
}  

.blogNav{
  margin-bottom:10px;
  padding:0px;
  color: #DDD;
  text-decoration:none
}



.right{
  float:right;
}

.left{
  float:left;
}


  
p{
color:#666;
line-height:1.5

}  

.footer{
  border-top: 1px #ddd solid;
  padding-top:10px;
  padding-bottom:5px;
  margin-top:50px;
}

.post{
  margin-bottom:20px;
  clear:both;
  border-bottom: 1px #ddd solid;  
}


.tools{
  margin-top:5px;
  margin-bottom:5px;
  border-bottom: 1px #ddd solid;  
}

.recent{
  margin-top:20px;
  margin-bottom:10px;
  border-top: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
}

.quote{
  border-left: 5px #ccc solid;
  padding-left: 30px
}


.tagsH2{
  border-bottom: 1px #ddd solid;
  padding-bottom:10px;
  margin-bottom:20px;
  font-style: italic;
}

.footy{
  color:#000
}

.nav{
  padding-top:26px;
  float:right;
}

.pagination{
  padding-top:0px;
}

.loading{
  padding-top:10px;
  padding-bottom:10px; 
  text-align:center;
  
}

      
			
.tagline{
  margin-top:0px;
  padding-top:0px;
  margin-bottom:20px;
}

.theme, .not_found{
  background-color: white;
  border: solid 1px #CCC;
  border-radius: 5px;
  padding: 10px;
}

.theme{
  padding: 18px;
  padding-bottom:0
}

.blogH2{
  margin-top:0px
}

.index:hover{
  box-shadow: 0px 0px 5px #999
}

.header_slide{
  margin:0;
  width: 100%;
  background:#000;
  display:none;
  position: fixed;
  top:0;    
  left:0;
  background-color:#333;
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#333),to(#111));
  background-image:-moz-linear-gradient(#333,#111);
  box-shadow:0 1px 3px rgba(0,0,0,.25);
  opacity:0.75;
}

.sliderH1{
  color: #eee;
  text-shadow: 0px 2px 3px #444;
  margin-top:8px;
  margin-bottom:10px;
  margin-left:10px;
  font-weight: bold;
}