/* 
 *
 * Helvetica Theme for Embr
 * Author: Laurence Dawson
 * Version 1.1
 *
 */

*{
  outline: none
}


html {
  overflow-y: scroll
}


body {
  height: 100%;
  font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  background-color: #eee;
  margin: auto;
  margin-top: 20px;
  width: 576px
}


/*
 * 
 * Basic Typographic and image elements 
 *
 */

a {
  color: #999;
  text-decoration:none
}

a:hover {
  color: #cc0000
}


h3, h2, h1 {
  font-weight: 400
}


h1, h1 a{
  color: #000;
  padding-top: 10px;
  margin-bottom: 10px;
  font-weight: bold
}


h3, h2, h3 a, h2 a, h1, h1 a {
  text-shadow: 0 -1px 0 rgba(0,0,0,0.15),0 1px 0 rgba(255,255,255,0.8)
}


h3, h2, h3 a, h2 a {
  border-bottom: 0px #eee solid;
  margin-bottom: 5px;
  color: #555
}


h3 {
  margin-top: 10px;
  margin-bottom: 20px
}


p {
  color: #777;
  line-height: 170%
}

p a {
  border-bottom: 1px #999 dashed
}


img {
  text-decoration: none;
  border: 0
}

li, ul, ol {
  margin: 0;
  padding: 0;
  list-style: none
}

textarea, input {
  outline:none
}

label {
  font-weight: bold
}


/*
 * 
 * Main page elements
 *
 */

/* Page header */
header {
  margin-bottom:20px
}

header h2 {
  margin-top:0px;
  margin-bottom: 30px
}


/* The top navigation links */
nav {
  text-shadow: 0 -1px 0 rgba(0,0,0,0.15),0 1px 0 rgba(255,255,255,0.8);
  font-weight: bold;
  padding-top:5px;
  font-size:12px;
  color:#555;
  float: right;
  margin-top: -50px;
}

nav a {
  color:#555;
  margin-left: 10px
}


/* Blog Post */
.post {
  clear:both;
  margin:auto;
  margin-bottom: 30px;
  border: solid 1px #CCC;
  background-color: white;  
  border-radius: 5px;
  padding: 20px;
  padding-bottom:10px
}

.post h2 {
  border-bottom: solid 1px #ddd;
  margin-top:0px;
  margin-bottom: 15px;
  padding:0;
  padding-bottom: 15px;
}


/* Image post */
.image_box{
  box-shadow: 0px 0px 1px #999;
  width:100%;
}


/* Post index page hover & keyboard navigation highlight */
.index:hover, .selected {
  box-shadow: 0px 0px 5px #999
}


/* Blog Author */
.info, .picture_info {
  line-height: 1.4;
  font-size:11px;
  color:#999;

  margin-top:10px;
  margin-bottom:10px;
}

.info{
  padding-top: 10px;
  border-top: 1px #ddd solid	
}

.info p{
	margin:0;
}

.info a, .picture_info a{
  border: 0
}

/* Post Footer */
footer {
  clear: both;
  padding-top:45px;
  margin-bottom: 10px;
  margin-top:20px
}

footer p{
  margin-top:17px;
}


/* Pagination loading element */
.loading {
  text-align:center 
}


/*
 * 
 * CMS Elements
 *
 */

/* Text input boxes in the login panel */
.login_box {
  padding: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  margin-right:10px;	
  border: solid 1px #CCC;
  background-color: white;  
  border-radius: 5px;
  width: 178px
}


/* Submit button in the login panel*/
.submit {
  border-radius: 5px;
  width: 138px;
  padding: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ded;
  border: solid 1px #CCC;
  font-weight: bold;
  color: #555
}

.submit:hover{  
  background-color: #008C00;
  border: solid 1px #008C00;  
  color: #fff
}


/* Cancel button in forms */
.cancel {
  border-radius: 5px;
  width: 138px;
  padding: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #edd;
  border: solid 1px #CCC;
  font-weight: bold;
  color: #555
}

.cancel:hover {
  border-radius: 5px;
  width: 138px;
  padding: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #cc0000;
  border: solid 1px #cc0000;
  font-weight: bold;
  color: #fff
}


/* Activity button incase the user has disabled JS */
.activity li {
  text-align: center;
  border-radius: 5px;
  font-size: 10px;
  display: block;
  float: left;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  background-color: rgba(0,0,0,0.5);
  color:#fff;
  width: 168px
}

.activity li a:hover, .activity li a {
  margin:0px;
  padding:2px;
  color:#fff;
  display: block
}


/* Contains post tags, category and source*/
.extra_options_pane{
	display:none;
}


/* Textarea for a text posts content */
.content_box{
  padding: 10px;
  width: 512px;
  border: 0;
  margin-right:10px;	
  border: solid 1px #CCC;
  background-color: white;  
  border-radius: 5px;
  font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  margin-bottom:0;
  padding-bottom:0
}


/* Default style for an element on the editor */
.editor_element{
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 512px;
  border: 0;
  font: 22px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  border: solid 1px #CCC;
  background-color: white;  
  border-radius: 5px;
  margin-top:10px
}


/* Styles for the image, tags, source and category inputs */
.editor_image_input, .editor_source_input, .editor_tags_input, .editor_category_input {
  font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif
}

.editor_tags_input, .editor_category_input{
  width: 235px
}

/* Post Date */

.month, .day, .date{
  margin-right: 3px;
}

.image_date{
  display: none
}

.plus_one{
  margin-left: 10px;
  float: right
}

.source{
  float: right;
}

.source a{
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAXklEQVR42pWPgQkAMQgDf1rX6Bzu5E55FOVL0D4NpNKaw/oAuHIcrLUWOn8AhVUVJAL6CTMgItgcTTM7A6k97NXvLTCGaycGKhTNCvt77hSVAf5GAikGSP9A4xG48guwYm1lnu3+ZAAAAABJRU5ErkJggg==) center right no-repeat;padding-right:15px
}