.tags, .blogNav, .navigation, .next, .prev{
  display: none;
}

.footer{
  visibility: hidden;
}

h1{
  font-size: 48px;
}

.header h2{
  font-size: 32px;
  padding-top: 15px;
  padding-bottom:10px;
}

.image_padding{
  padding: 35px;
}

.post{
  box-shadow: 0px 0px 10px #000
}